/*
Project:  Project 5
Name: Bryn Webb
Submitted: <Submit Date>
 
I declare that the following source code was written by me, or provided
by the instructor for this project. I understand that copying source
code from any other source, providing source code to another student, 
or leaving my code on a public web site constitutes cheating.
I acknowledge that  If I am found in violation of this policy this may result
in a zero grade, a permanent record on file and possibly immediate failure of the class.
*/

/* 
Mode:
-dark mode 
    - changes all of the background colors, font colors, and 
    font family, as well as shadow colors
    -changed layout so that aside is on the right side instead of left
    in large screens, and at the very top instead of under the header
    in small screens
*/

#body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas:
        "header header"
        "visitor aside"
        "main aside"
        "footer footer"
    ;
}

#header {
    background-color: rgb(18, 13, 13);
    color: white;
}

section>img,
section>iframe,
figure>img {
    box-shadow: 5px 5px #e59bb5;
}

#main {
    background-color: rgb(18, 13, 13);
    color: #e59bb5;
    border-left: none;
    border-right: 3px solid white;
}

section>p>a {
    color: white;
}

figcaption>a {
    color: aliceblue;
}

header>#logo {
    box-shadow: 10px 10px #a05771;
}

@media only screen and (max-width: 920px) {
    #body {
        grid-template-areas:
            "aside aside"
            "header header"
            "main main"
            "visitor visitor"
            "footer footer"
        ;
    }

    #main {
        border-right: none;
    }
}

/* phone screen-size layout */
@media only screen and (max-width: 500px) {
    #body {
        grid-template-columns: 4fr;
        grid-template-areas:
            "aside"
            "header"
            "main"
            "visitor"
            "footer"
        ;
    }
}