/*
Project:  Project 5
Name: Bryn Webb
Submitted: <Submit Date>
 
I declare that the following source code was written by me, or provided
by the instructor for this project. I understand that copying source
code from any other source, providing source code to another student, 
or leaving my code on a public web site constitutes cheating.
I acknowledge that  If I am found in violation of this policy this may result
in a zero grade, a permanent record on file and possibly immediate failure of the class.
*/

/*
Default mode
*/

/* Main layout elements - body, header, aside, nav, main and footer
Uses grid layout */
body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
        "header header"
        "aside main"
        "aside visitor"
        "footer footer"
    ;
    background-image: url("../img/roses.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: Helvetica, sans-serif;
    color: black;
}

header {
    grid-area: header;
    padding: 15px;
    border-bottom: 7px solid rgba(188, 34, 72, 0.862);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 30px;
}

aside {
    grid-area: aside;
    align-self: start;
    padding: 15px;
    position: sticky;
    top: 1rem;
}

nav {
    display: flex;
    flex-direction: column;
    line-height: 1.6;
}

main {
    grid-area: main;
    border-left: 3px solid white;
    padding: 25px;
    background-color: rgb(252, 222, 227);
}

footer {
    grid-area: footer;
    padding: 15px;
    border-top: 7px solid rgba(188, 34, 72, 0.862);
    color: white;
    line-height: 1.6;
}

#visitor {
    grid-area: visitor;
    background-color: rgb(201, 160, 186);
    padding: 15px;
    border-top: 7px solid rgba(188, 34, 72, 0.862);
    border-left: 3px solid white;
    display: none;
}

/* Styling for header */
#logo {
    width: 100px;
    height: 100px;
    padding: 5px;
    justify-self: end;
    border: 1px solid black;
    box-shadow: 6px 9px #550202
}

#title {
    height: 100px;
}

#title>h1 {
    font-family: "Lucida Handwriting", cursive;
}

h2 {
    font-family: Papyrus, cursive;
}

#light {
    display: none;
}

/* Link styling */
nav>div>a:link,
nav>div>a:visited,
footer>a:link,
footer>a:visited {
    color: white;
}

/* Image styling */
.page>img {
    justify-self: center;
    border: 3px solid black;
    margin: 20px;
    align-self: start;
    max-width: fit-content;
    height: auto;
}

.figwrap {
    margin: auto;
    margin-left: 0%;
    margin-top: 20px;
}

.figwarp img {
    display: block;
    width: 100%;
    max-width: 500px;
}

figure>img {
    border: 3px solid black;
    align-self: start;
    max-width: fit-content;
    height: auto;
}

.page>section {
    padding: 20px;
}

iframe {
    border: 3px solid black;
    box-shadow: 5px 5px #888888
}

img {
    box-shadow: 5px 5px #888888
}


/* Different main sections and their layout */
#home {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
}

#types {
    display: none;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
}

#music {
    display: none;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
}

/* Elements inside main */
#introduction {
    order: 1;
    width: 50%;
}

#introduction_pic {
    order: 2;
    width: 40%;
}

#history {
    order: 4;
    width: 40%;
}

#history_pic {
    order: 3;
    width: 50%;
}

#technique {
    order: 5;
    width: 50%;
}

#technique_pic {
    order: 6;
    width: 40%;
}

#anatomy {
    order: 8;
    width: 40%;
}

#anatomy_pic {
    order: 7;
    width: 50%;
}

#folk {
    order: 2;
    width: 50%;
}

#folk_pic {
    order: 3;
    width: 40%;
}

#welsh {
    order: 5;
    width: 40%;
}

#welsh_pic {
    order: 4;
    width: 50%;
}

#pedal {
    order: 6;
    width: 50%;
}

#pedal_pic {
    order: 7;
    width: 40%;
}

#electric {
    order: 9;
    width: 40%;
}

#electric_pic {
    order: 8;
    width: 50%;
}

#music_title {
    width: 100%;
    order: 1;
}

#music>section {
    width: 100%;
}

#baroque {
    order: 4;
}

#danses {
    order: 3;
}

#contemplation {
    order: 2;
}

#celtic {
    order: 5;
}

#more {
    order: 6;
}

/* New visitor form and validation stuff */
#visitform>ul {
    list-style-type: none;
}

.errorMsg {
    color: rgb(172, 74, 74);
}

input.was-validated:invalid {
    color: rgb(172, 74, 74);
    border: 1px solid rgb(172, 74, 74);
}

input.was-validated:invalid~div {
    display: block;
}

input:valid~div {
    display: none;
}

input:invalid~div {
    display: none;
}

.formlist {
    display: flex;
    flex-direction: column;
}

.formlist li {
    display: flex;
    margin-bottom: 10px;
}

.formlist label {
    width: 150px;
    text-align: left;
    margin-right: 10px;
}

.flex>input[type='radio']~div.errorMsg,
.flex>input[type='checkbox']~div.errorMsg {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 350px;
    flex: 1 0 350px;
    text-align: right;
}


/* tablet screen-size layout */
@media only screen and (max-width: 920px) {
    body {
        grid-template-areas:
            "header header"
            "aside aside"
            "main main"
            "visitor visitor"
            "footer footer"
        ;
    }

    main {
        border-left: none;
    }

    aside {
        border-bottom: 3px solid white;
        position: static;
    }


    #menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }


    #home {
        display: flex;
        flex-direction: row;
        justify-content: left;
        flex-wrap: wrap;
    }

    #types,
    #music {
        display: none;
        flex-direction: row;
        justify-content: left;
        flex-wrap: wrap;
    }

    #home>img,
    #home>section,
    #home>div,
    #types>img,
    #types>section {
        width: auto;
    }


    #history {
        order: 3;
    }

    #history_pic {
        order: 4;
    }

    #anatomy {
        order: 7;
    }

    #anatomy_pic {
        order: 8;
    }

    #welsh {
        order: 4;
    }

    #welsh_pic {
        order: 5;
    }

    #electric {
        order: 8;
    }

    #electric_pic {
        order: 9;
    }
}

/* phone screen-size layout */
@media only screen and (max-width: 500px) {
    body {
        grid-template-columns: 4fr;
        grid-template-areas:
            "header"
            "aside"
            "main"
            "visitor"
            "footer"
        ;
    }

    #title>h1 {
        font-size: large
    }

    #title>p {
        font-size: medium;
    }
}